---
import BaseHead from '~/components/BaseHead.astro';
import Header from '~/components/Header.astro';
import Footer from '~/components/Footer.astro';
import site from '~/constants';
import { getCollection } from 'astro:content';
import FormattedDate from '~/components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={site.title} description={site.description} />
	</head>
	<body>
		<Header />
		<main>
			{
				posts.map(({slug, data: {title, description, pubDate}}) => (
					<section style="display: flex; justify-content: space-between; align-items: baseline;">
						<a href={`/blog/${slug}/`}>
							<h4 class="title">{title}</h4>
						</a>
						<span>{description}</span>
						<FormattedDate date={pubDate} />
					</section>
				))
			}
		</main>
		<Footer />
	</body>
</html>
